<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">   
    <title>Title</title>

    <style>
        .hd{
            background-image: url("static/Img/Sfondo.jpg");
        }
        .hd1{
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    </style>

</head>
<body>

<div class="header hd">
    <div class="container hd1">
        <img src="static/Img/League2.png" alt="Logo">
        <div>
            <h3 style="color: white">CAMPIONATO</h3>
            <h4 style="color: white">EURO DAITA12</h4>
        </div>
    </div>
</div>

<nav class="d-flex justify-content-center navbar navbar-expand-sm bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-lg">
    <img src="static/Img/League2.png" alt="Logo" width="40" height="30">
    <a class="navbar-brand" href="#">EURO DAITA12</a>

    <div class="collapse navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/calendario">Calendario</a>
        <a class="nav-link" href="/classifica">Classifica</a>
        <a class="nav-link" href="/calciatori">Calciatori</a>
      </div>
    </div>
  </div>
  </nav>

    <div class="d-flex flex-column justify-content-center p-3">

    {% for i in range(diz_squadra|length): %}
    
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Nazionalità</th>
            <th>Ruolo</th>
            <th>Numero Maglia</th>
            <th>Età</th>
        </tr>
    </thead>
    <tbody>
    
    {% set j = loop.index %}
    {% for squadra in range(diz_squadra[j]|length): %} 
    <tr>    
        <td>
            {{ diz_squadra[j][loop.index-1]['nome'] }}
        </td>
        <td>
            {{ diz_squadra[j][loop.index-1]['cognome'] }}
        </td>
        <td>
            {{ diz_squadra[j][loop.index-1]['nazionalita'] }}
        </td>
        <td>
            {{ diz_squadra[j][loop.index-1]['ruolo'] }}
        </td>
        <td>
            {{ diz_squadra[j][loop.index-1]['numero_maglia'] }}
        </td>
        <td>
            {{ diz_squadra[j][loop.index-1]['eta'] }}
        </td>
    </tr>
    
    {% endfor %}


    </tbody>
    </table>
    {% endfor %} 
    </div>

</body>
</html>