<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>


    <title>Calciatori</title>
    <style>
        .hd{
        background-image: url("static/Img/Sfondo.jpg");
        }

        .hd1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        }

        footer{
        background-color: #000000e0;
        color: white;
        text-align: center;
        padding: 10px;
        animation: slideRightToLeft 25s linear infinite;
        }

        @keyframes slideRightToLeft {
            0% {
            transform: translateX(100%);
            }
            100% {
            transform: translateX(-100%);
            }
        }

        .footerLinks{
        display: flex;
        justify-content: space-around;
        list-style: none;
        }

        .contenitoreCopyright{
        display: flex;
        justify-content: end;
        align-items: center;
        }

        .bottone_modifica {
        display: none;
        }

        .div_comparsa:hover .bottone_modifica {
        display: inline-block;
        }

        .div_modifica {
            display: none;
        }

        .div_aggiunta {
            display: block;
        }

        html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        }

        body {
        display: flex;
        flex-direction: column;
        }

        .content {
        flex: 1;
        }


        
    </style>


</head>
<body>

<script>

    
function toggle_modifica(j) {
            const div_modifica = document.getElementsByClassName('div_modifica')[j];
            const div_aggiunta = document.getElementsByClassName('div_aggiunta')[j];

            if (div_modifica.style.display === 'none') {
                div_modifica.style.display = 'block';
                div_aggiunta.style.display = 'none';
            } else {
                div_modifica.style.display = 'none';
                div_aggiunta.style.display = 'block';
            }
        }

    // document.getElementsByClassName('button-mod')[1].addEventListener('click', toggle_modifica());

</script>


<div class="content">
    <div class="header hd">
        <div class="container hd1">
            <img src="static/Img/League2.png" alt="Logo">
            <div>
                <h3 style="color: white">CAMPIONATO</h3>
                <h4 style="color: white">EURO DAITA12</h4>
            </div>
        </div>
    </div>

<nav class="d-flex justify-content-center align-content-center navbar navbar-expand-sm bg-dark border-bottom border-body"
     data-bs-theme="dark">
    <div class="container-lg">
        <img src="static/Img/League2.png" alt="Logo" width="40" height="30">
        <a class="navbar-brand" href="#">EURO DAITA12</a>

        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/calendario">Calendario</a>
                <a class="nav-link" href="/classifica">Classifica</a>
                <a class="nav-link" href="/calciatori">Calciatori</a>
            </div>
        </div>
    </div>
</nav>

</div>

<div class="d-flex flex-column justify-content-center">

    {% for i in range(diz_squadra|length): %}
    {% set j = loop.index %}


    <div class="d-flex justify-content-start my-2">
    <span class="dropdown position-absolute px-5">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Vai a squadra
        </button>
        <ul class="dropdown-menu">
        
        {% for i in range(diz_squadra|length): %}
            <li><a class="dropdown-item" href="#{{i+1}}">{{ id_nome_squadra[i]['nome'] }}</a></li>
        {% endfor %}
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/calciatori">Inzio Pagina</a></li>
        </ul>
        </span>
        
        <span class="col-12">
        <h2 class="text-center" id="{{j}}"> {{ id_nome_squadra[j-1]['nome'] }} </h2>
    </span>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th scope="col" class="col-3 col-md">Nome</th>
            <th scope="col" class="col-3 col-md">Cognome</th>
            <th scope="col">Nazionalità</th>
            <th scope="col">Ruolo</th>
            <th scope="col">Numero Maglia</th>
            <th scope="col">Età</th>
        </tr>
    </thead>

        <tbody>

        {% for squadra in range(diz_squadra[j]|length): %}
        <tr class="div_comparsa align-middle">
            <td class="d-flex justify-content-between">
        <span class="order-1">
        <form method="POST" action="/calciatori/elimina_giocatore">
        <button type="submit" value="{{[j]+[loop.index]}}" name = "button_elim"  class="bottone_modifica on-hover position-absolute-md position-static btn btn-danger" style="margin-left: -70px;">Cancella</button>
        </form>
        </span>

        <span class="order-2">
            <!-- <form method="POST" action="/calciatori/modifica_giocatore"> -->
                <button type="button" id="{{[j]+[loop.index]}}" name="button_mod" onclick="toggle_modifica({{j-1}})" class="bottone_modifica on-hover position-absolute btn btn-warning" style="margin-left: -90px;">Modifica</button>
        <!-- </form>  -->
        </span>
        <span>
        {{ diz_squadra[j][loop.index-1]['nome'] }}
        </span>

            </td>
            <td>
                {{ diz_squadra[j][loop.index-1]['cognome'] }}
            </td>
            <td>
                {{ diz_squadra[j][loop.index-1]['nazionalita'] }}
            </td>
            <td>
                {{ diz_squadra[j][loop.index-1]['ruolo'] }}
            </td>
            <td>
                {{ diz_squadra[j][loop.index-1]['numero_maglia'] }}
            </td>
            <td>
                {{ diz_squadra[j][loop.index-1]['eta'] }}
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>

    <div class="div_modifica">
        <div class="d-flex justify-content-center">
        <form method="POST" action="/calciatori/esegui_modifica">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>
                        <input type="text" name="Nome" placeholder="Nome" value="{{nome}}">
                    </td>
                    <td>
                        <input type="text" name="Cognome" placeholder="Cognome" value="{{cognome}}">
                    </td>
                    <td>
                        <input type="text" name="Nazionalità" placeholder="Nazionalità">
                    </td>
                    <td>
                        <input type="text" name="Ruolo" placeholder="Ruolo">
                    </td>
                    <td>
                        <input type="text" name="Numero maglia" placeholder="Numero maglia">
                    </td>
                    <td>
                        <input type="text" name="Età" placeholder="Età">
                    </td>
                </tr>
            </table>
        <div class="d-flex justify-content-center">
            <input type="hidden" value="{{j}}" name="j">
            <button type="submit" onclick="toggle_modifica({{j}})" class="btn btn-warning px-5">Modifica giocatore</button>
        </div>    
        </form>
    </div>
    </div>

    <div class="div_aggiunta">
        <div class="d-flex justify-content-center">
        <form method="POST" action="/calciatori/inserisci_giocatore">
            <table class="table table-bordered table-striped">
                <tr>
                    <td>
                        <input type="text" name="Nome" placeholder="Nome">
                    </td>
                    <td>
                        <input type="text" name="Cognome" placeholder="Cognome">
                    </td>
                    <td>
                        <input type="text" name="Nazionalità" placeholder="Nazionalità">
                    </td>
                    <td>
                        <input type="text" name="Ruolo" placeholder="Ruolo">
                    </td>
                    <td>
                        <input type="text" name="Numero maglia" placeholder="Numero maglia">
                    </td>
                    <td>
                        <input type="text" name="Età" placeholder="Età">
                    </td>
                </tr>
            </table>
        <div class="d-flex justify-content-center">
            <input type="hidden" value="{{j}}" name="j">
            <button type="submit" class="btn btn-primary px-5">Inserisci giocatore</button>
        </div>    
        </form>
    </div>
    </div> 
    <br><br>

<!--     
    <script>
        document.getElementsByClassName('button-mod')[{{j}}].addEventListener('click', toggle_modifica());
    </script> -->


    {% endfor %} 

<div style="background-color: Black; border-top: 2px solid blue;">
    <footer>
        <ul class="footerLinks">
            <a href="https://github.com/MarcoDS97/WebApp" style="color: white;">GitHub</a>
            <li>Marco De Sio</li>
            <li>Davide Lucarelli</li>
            <li>Alessandro Comi</li>
            <li>Riccardo Benedetti</li>
        </ul>
        <div class="contenitoreCopyright">
            <p>@copyright 2024</p>
        </div>
    </footer>
</div>
</body>
</html>